<section id="about" class="pt-16 md:pt-20 py-16">
  <div class="container max-w-7xl mx-auto px-6 text-center md:text-left">
    
    <!-- Primera fila -->
    <div class="grid grid-cols-1 md:grid-cols-5 gap-8">
      <div class="md:col-span-3 flex justify-center order-1 md:order-2">
        <!-- Contenedor con tamaño fijo -->
        <div class="md:w-[600px] md:h-[400px]">
          <img src="/img3.png" alt="Estrategia visual" class="w-full h-full object-contain" />
        </div>
      </div>

      <div class="flex flex-col justify-center md:col-span-2 order-2 md:order-1">
        <h2 class="text-3xl text-gray-800">Estrategia visual para un <span class="font-semibold"> impacto real</span></h2>
        <p class="text-gray-700 text-lg mt-4">
          En Artgu, diseñamos soluciones que no solo embellecen tu marca, sino que la posicionan para crecer y atraer a más clientes.
        </p>
        <a href="#"
          class="mt-6 inline-block max-w-max text-white bg-[#74B634] font-semibold py-2 px-4 rounded-lg ">
          Descubre cómo podemos ayudarte
        </a>
      </div>
    </div>

    <!-- Segunda fila -->
    <div class="grid grid-cols-1 md:grid-cols-5 gap-8 mt-8">
      <div class="md:col-span-2 flex justify-center order-1">
        <!-- Contenedor con tamaño fijo -->
        <div class="w-full md:w-[600px] md:h-[450px]">
          <img src="/ISOTIPO.png" alt="Resultados impactantes" class="w-full h-full object-contain" />
        </div>
      </div>

      <div class="mx-auto flex flex-col justify-center md:col-span-3 order-2">
        <h2 class="text-3xl text-gray-800">Resultados que <span class="font-semibold"> impulsan</span> tu marca</h2>
        <p class="text-gray-700 text-lg mt-4">
          Nuestra pasión es hacer crecer tu negocio. Con años de experiencia en diseño y marketing, hemos ayudado a 25+ marcas a destacarse, aumentar su reconocimiento en un 40% y captar más clientes. ¡Sé parte del éxito de quienes confían en nosotros!
        </p>

        <div class="flex flex-col md:flex-row justify-center gap-4 mt-6">
          <!-- Card 1 -->
          <div class="bg-[#f1f1f1] p-6 flex-1 h-40 rounded-2xl flex flex-col items-center justify-center">
            <div class="bg-gradient-to-br from-[#baec88] to-[#74B634] text-white p-3 rounded-lg">
              <svg class="w-9 h-9 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M162.4 6c-1.5-3.6-5-6-8.9-6h-19c-3.9 0-7.5 2.4-8.9 6l-20.7 51.7c-3.2 8-14.6 8-17.8 0L66.4 6c-1.5-3.6-5-6-8.9-6H48C21.5 0 0 21.5 0 48v208h384V48c0-26.5-21.5-48-48-48H230.5c-3.9 0-7.5 2.4-8.9 6l-20.7 51.7c-3.2 8-14.6 8-17.8 0zM0 288v32c0 35.3 28.7 64 64 64h64v64c0 35.3 28.7 64 64 64s64-28.7 64-64v-64h64c35.3 0 64-28.7 64-64v-32zm192 144a16 16 0 1 1 0 32a16 16 0 1 1 0-32"/>
              </svg>
            </div>
            <p class="mt-2 font-bold text-xl text-gray-700 text-center">+25 marcas reinventadas</p>
          </div>

          <!-- Card 2 -->
          <div class="bg-[#f1f1f1] p-6 flex-1 h-40 rounded-2xl flex flex-col items-center justify-center">
            <div class="bg-gradient-to-br from-[#baec88] to-[#74B634] text-white p-3 rounded-lg">
              <svg class="w-9 h-9 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M12 4c4.29 0 7.863 2.429 10.665 7.154l.22.379l.045.1l.03.083l.014.055l.014.082l.011.1v.11l-.014.111a1 1 0 0 1-.026.11l-.039.108l-.036.075l-.016.03c-2.764 4.836-6.3 7.38-10.555 7.499L12 20c-4.396 0-8.037-2.549-10.868-7.504a1 1 0 0 1 0-.992C3.963 6.549 7.604 4 12 4m0 5a3 3 0 1 0 0 6a3 3 0 0 0 0-6"/>
              </svg>
            </div>
            <p class="mt-2 font-bold text-xl text-gray-700 text-center">+25 marcas reinventadas</p>
          </div>

          <!-- Card 3 -->
          <div class="bg-[#f1f1f1] p-6 flex-1 h-40 rounded-2xl flex flex-col items-center justify-center">
            <div class="bg-gradient-to-br from-[#baec88] to-[#74B634] text-white p-3 rounded-lg">
              <svg class="w-9 h-9 text-white" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4l4 4l5-5m0 0h-3.207M20 9v3.207"/>
              </svg>
            </div>
            <p class="mt-2 font-bold text-xl text-gray-700 text-center">+25 marcas reinventadas</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
