---
---

<section id="intro" class="py-16 bg-[#74B634]">
  <div class="container mx-auto px-4 text-center text-lg text-white max-w-7xl mx-auto px-6">
    <p > 
      En nuestra agencia, tenemos un <span class="font-semibold">enfoque estratégico</span> para cada cliente, priorizando sus necesidades. 
      Nos centramos en el <span class="font-semibold">cliente</span> y ofrecemos soluciones personalizadas que generan 
      <span class="font-semibold">resultados medibles</span> mediante análisis detallados.
    </p>
  </div>
</section>